@model IEnumerable<Sistema_Nomina_Web.Models.dbModels.TipoJornadum>

@{
    ViewData["Title"] = "Index";
}

<h1>Tabla de tipos de Jornada</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasJornada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasJornada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoJornadaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TipoJornadaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TipoJornadaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
