@model Sistema_Nomina_Web.Models.dbModels.Trabajador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trabajador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rfc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rfc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodicidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodicidad.PeriodicidadId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoJornada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoJornada.TipoJornadaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSalario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSalario.TipoSalarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TrabajadorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
